@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "fontawesome.scss";
@import "solid.scss";

$deep-space-sparkle: rgba(51, 92, 103, 1);
$medium-champagne: rgba(255, 243, 176, 1);
$indian-yellow: rgba(224, 159, 62, 1);
$auburn: rgba(158, 42, 43, 1);
$rosewood: rgba(84, 11, 14, 1);
$yellow-green-crayola: rgba(212, 224, 155, 1);
$light-goldenrod-yellow: rgba(246, 244, 210, 1);
$tea-green: rgba(203, 223, 189, 1);
$dark-salmon: rgba(241, 156, 121, 1);
$medium-carmine: rgba(164, 74, 63, 1);

$eggshell: rgba(244, 241, 222, 1);

$xs-pad: 4px;
$s-pad: 10px;
$m-pad: 20px;
$l-pad: 30px;
$xl-pad: 50px;
$xxl-pad: 100px;

$s-margin: 10px;
$m-margin: 20px;
$l-margin: 30px;
$xl-margin: 50px;
$xxl-margin: 100px;

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
  "xxl": 1440px,
  "xxxl": 1920px,
);

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	// font: inherit;
	// vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
p, h2, h3, h4, div {
  color: $eggshell;
}
* {
  color: inherit;
  margin: 0;
}
body { font-family: Poppins; }
ul { 
  padding: 0;
  list-style-type: none;
}
a { text-decoration: none; }
hr {
  border: 0;
  border-top: 1px dotted #efefef;
}
img { max-width: 100%; }
div { flex-grow: 1 }
.page-container {
  display: flex;
  justify-content: space-between;
}
.side-bar {
  width: 25%;
  min-width: 270px;
  max-width: 300px;
  background: $auburn;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 0 $m-pad;
  p, h2, h3, h4, div {
    font-weight: bold;
  }
}
.logo-name {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  padding: $s-pad $m-pad;
} 
.logo-profile-pic {
  width:80px;
  border-radius: 50%;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // justify-content: flex-end;
  // background: red;
}
.nav-sec {
  margin-top: $m-margin;
  // background: $navbar-dark;
  padding: $xl-pad 0;
  ul{
    li{
      padding: $xs-pad ;
      border-radius: 5px;
      // margin: $s-margin;
      // background: $powder-blue;
      // display: flex;
      // justify-self: space-between;
      a {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: $m-pad $l-pad;
        font-size: large;
        // background: $silver-pink;
        
      }
    }
  }
}

.fa-buromobelexperte {
  @extend %fa-icon;
  @extend .fa-solid;

  &:before {
    content: fa-content($fa-var-buromobelexperte);
  }
}

.intro-icon {
  @extend %fa-icon;
  @extend .fa-solid;

  &:before {
    content: fa-content($fa-var-user);
  }
}
.port-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-house);
  }
}
.about-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-book);
  }
}
.contact-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-envelope);
  }
}


.main {
  width: 60%;
}
.top-sec {
  // background: $independence url("../images/banner.jpg");
  // background-size: no-reapeat;
  background: url("../images/portfolio-2.jpg");
  background-size: cover;

  p, h2, h3, h4, div {
    font-weight: bold;
  }
}
.por-sec {
  // background: $celadon-blue;
}
.abo-sec {
  // background: $terra-cotta;
}
.con-sec {
  // background: $deep-champagne;
}
.abo-container, .top-container, .por-container, .con-container, .foo-container {
  padding: $xxl-pad;
}
.top-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: ($xxl-pad * 2);
  .top-title {
    margin-bottom: $l-margin;
  }
}

.footer {
  // background: $green-sheen;
  // padding: $m-pad 0;
}