@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Nunito:wght@200&display=swap');

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

$very-dark-blue: rgb(2,0,36);
$gradient-bg: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(217,252,255,1) 100%, rgba(45,238,253,1) 100%);
$gradient-bg-2: linear-gradient(0deg, rgba(230,231,255,1) 0%, rgba(216,249,251,1) 25%, rgba(241,253,254,1) 78%, rgba(233,235,255,1) 100%);
$gradient-bg-3: linear-gradient(90deg, rgba(7,0,121,1) 0%, rgba(0,0,0,1) 100%);

$focus-pink: rgb(218, 6, 189);
$deep-space-sparkle: rgba(51, 92, 103, 1);
$medium-champagne: rgba(255, 243, 176, 1);
$indian-yellow: rgba(224, 159, 62, 1);
$auburn: rgba(158, 42, 43, 1);
$rosewood: rgba(84, 11, 14, 1);
$yellow-green-crayola: rgba(212, 224, 155, 1);
$light-goldenrod-yellow: rgba(246, 244, 210, 1);
$tea-green: rgba(203, 223, 189, 1);
$dark-salmon: rgba(241, 156, 121, 1);
$medium-carmine: rgba(164, 74, 63, 1);
$dark-blue:rgb(18, 19, 83);
$navy-blue: rgba(3, 4, 94, 1);
$dark-cornflower-blue: rgba(2, 62, 138, 1);
$star-command-blue: rgba(0, 119, 182, 1);
$blue-green: rgba(0, 150, 199, 1);
$cerulean-crayola: rgba(0, 180, 216, 1);
$sky-blue-crayola: rgba(72, 202, 228, 1);
$sky-blue-crayola-2: rgb(224, 249, 253);
$blizzard-blue: rgba(173, 232, 244, 1);
$powder-blue: rgb(245, 255, 249);
$honeydew: rgba(241, 250, 238, 1);
$matte-black: #1B1B1B;

$light-text: $honeydew;
$dark-text: rgb(0, 0, 46);
$gray-text: rgb(192, 192, 192);

$xs-t: 8px;
$s-t: 12px;
$m-t: 16px;
$m-l-t: 20px;
$l-t: 24px;
$xl-t: 32px;
$xxl-t: 40px;

$text-size: (
  "xs": $xs-t,
  "s": $s-t, 
  "m": $m-t,
  "m-l": $m-l-t,
  "l": $l-t,
  "xl": $xl-t,
  "xxl": $xxl-t
);


$xs-size: 4px;
$s-size: 10px;
$m-size: 20px;
$m-l-size: 25px;
$l-size: 30px;
$xl-size: 50px;
$xxl-size: 100px;
$xxxl-size: 150px;

$pad-margin-sizes: (
  "xs": $xs-size,
  "s": $s-size, 
  "m": $m-size,
  "l": $l-size,
  "xl": $xl-size,
  "xxl": $xxl-size,
  "xxxl": $xxxl-size
);

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 720px,
  "lg": 960px,
  "xl": 1200px,
  "xxl": 1440px,
  "xxxl": 1920px,
);


@each $key, $val in $pad-margin-sizes {
  .m-#{$key} { padding: $val; }
  .p-#{$key} { padding: $val; }

  .p-t-#{$key} { padding-top: $val; }
  .p-b-#{$key} { padding-bottom: $val; }
  .p-r-#{$key} { padding-right: $val; }
  .p-l-#{$key} { padding-left: $val; }

  .m-t-#{$key} { margin-top: $val; }
  .m-b-#{$key} { margin-bottom: $val; }
  .m-r-#{$key} { margin-right: $val; }
  .m-l-#{$key} { margin-left: $val; }
}

@each $key, $val in $text-size {
  .#{$key}-t { font-size: $val; }
}


html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
* {
  color: inherit;
  margin: 0;
}

ul { 
  padding: 0;
  list-style-type: none;
}
.dark-t {
  color: $dark-text;
}
.light-t {
  color: $light-text;
}
.gray-t {
  color: $gray-text;
}

a { text-decoration: none; }

.font-1 { font-family: 'Nunito', sans-serif;}
.font-2 { font-family: 'Poppins', sans-serif;}
.font-fancy { font-family: 'Luxurious Roman', cursive;}
hr {
  border: 0;
  border-top: 1px dotted #efefef;
}
img { 
  width:100%;
  max-width: 100%; 
}
div { flex-grow: 1 }
.page-container {
  display: flex;
  justify-content: space-between;
}
.side-bar {
  width: 25%;
  min-width: 270px;
  max-width: 280px;
  background: $matte-black;
  height: 100vh;
  position: sticky;
  top: 0;
  // p, h2, h3, h4, div {
  //   // font-weight: bold;
  // }
  .nav-sec {
    ul{
      li{
        padding: $s-size ;
        border-radius: 5px;
        // margin: $s-m;
        // background: $powder-blue;
        // display: flex;
        // justify-self: space-between;
        a {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: $s-size $l-size;
          font-size: $l-t;
          transition:0.2s;
        }
        a:hover {
          color: $blizzard-blue;
        }
        a:focus {
          color: $focus-pink;
        }
      }
    }
    .social-links {
      width:100%;
      padding: $m-size;
      box-sizing: border-box;
      display: flex;
      position: absolute;
      bottom:0;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      transition: 0.2s;
      a {
        font-size: $m-l-t;
      }
      a:hover {
        color: $blizzard-blue;
      }
      a:focus {
        color: $focus-pink;
      }
    }
  }
}
.logo-name {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  padding: $xxl-size $l-size $l-size;
} 
.logo-profile-pic {
  width:90px;
  margin-left: $s-size;
  // border-radius: 50%;
}
.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // margin-top: $l-m;
  // justify-content: flex-end;
  // background: $indian-yellow;
  h3 {
    display: flex;
    justify-content: flex-end;
    font-size: $l-t;
  }
  p {
    margin-top: $s-size;
  }
}


.fa-buromobelexperte {
  @extend %fa-icon;
  @extend .fa-solid;

  &:before {
    content: fa-content($fa-var-buromobelexperte);
  }
}

.intro-icon {
  @extend %fa-icon;
  @extend .fa-solid;

  &:before {
    content: fa-content($fa-var-user);
  }
}
.port-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-house);
  }
}
.about-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-book);
  }
}
.contact-icon {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-pen);
  }
}
.arrow-down {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-arrow-down);
  }
}
.fa-github {
  @extend %fa-icon;
  @extend .fa-brands;
  &:before {
    content: fa-content($fa-var-github);
  }
}
.fa-codepen {
  @extend %fa-icon;
  @extend .fa-brands;
  &:before {
    content: fa-content($fa-var-codepen);
  }
}
.fa-envelope {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-envelope);
  }
}
.fa-linkedin {
  @extend %fa-icon;
  @extend .fa-brands;
  &:before {
    content: fa-content($fa-var-linkedin);
  }
}
.fa-images {
  @extend %fa-icon;
  @extend .fa-solid;
  &:before {
    content: fa-content($fa-var-images);
  }
}

.main {
  width: 60%;
}
.top-sec {
  background: $blue-green url("../images/gradient-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.por-sec {
  background: $gradient-bg-2;
}
.abo-sec {
  background: $gradient-bg;
}
.con-sec {
  background: $gradient-bg-2;
}
.top-container{
  padding: $xxxl-size $xxxl-size $m-size $xxxl-size;
  p, h2, h3, h4, div {
    font-weight: bold;
  }
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .top-title {
    font-size: $xxl-t;
  }
  .top-title + .top-title {
    margin-bottom: $xl-size;
    font-size: $xxl-t;
  }
  .top-text {
    margin-top: $s-size;
    font-size: $m-l-t;
    justify-self: flex-start;
  }
  a{
    margin-top: $xxl-size;
  }
  .top-downward-arrow{
    align-self: center;
    padding: $m-size $xxl-size ;
    font-size: $xl-t;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
    background-color: $navy-blue;
    margin-bottom: $m-size;
  }
  .top-downward-arrow:hover{
    cursor:pointer;
    background: $star-command-blue;
  }
}
.por-container {
  padding: $l-size $xxxl-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  .por-title {
    font-size: $xxl-t;
    margin: $l-size;
    margin-bottom: $s-size;
  }
  .por-text {
    margin-bottom: $m-l-size;
    font-size: $m-l-t;
  }
  .por-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $xl-size;
    .grid-item{
      background: whitesmoke;
      box-shadow: 5px 5px 20px $gray-text;
      transition: 0.2s;
      min-width: 250px;
      .grid-info{
        display: flex;
        flex-direction: column;
        padding: $m-size;
        // justify-content: center;
        align-items: center;
        .project-title {
          font-size: $m-size;
          font-weight: bold;
        }
        .project-text {
          margin-top: $m-size;
          font-size: 1rem;
        }
      }
    }
    .grid-item:hover{
      box-shadow: 15px 15px 15px $gray-text;
      transform: translate(0, -20px);
      cursor:pointer;
    }
  }
}
.about-container {
  padding: $l-size $xxxl-size;
  display: grid;
  grid-template-rows: row dense;
  grid-template-columns: minmax(340px,1fr) 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: $m-size;
  .about-title {
    grid-column: span 3;
    justify-self: center;
    font-size: $xl-size;
  }
  li {
    margin-left: $m-size;
  }
  .about-column-1 {
    grid-column:  2/3;
  }
  .about-column-2 {
    grid-column:  3/4;
    grid-row: 2/3;
  }
  .about-text {
    // font-weight: bold;
  }
  .about-text-wide {
    justify-self: center;
    grid-column: span 3;
    font-size: $m-size;
  }
}
.contact-container {
  padding: $xxl-size $xxxl-size;
  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contact-title{
      font-size: $xxl-t;
      margin-bottom: $m-size;
      font-weight: bold;
    }
    .contact-text {
      margin-bottom: $s-size;
      font-size: $l-t;
    }
  }
  .send-msg-form {
    display:flex;
    flex-direction: column;
  }
  .form-column {
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:$m-size ;
    font-size: $xxl-t;
    .f-message, .f-name, .f-email {
      font-size: $l-t;
      padding: $m-size;
      border: none;
      border-radius: $s-size;
      transition: 0.2s;
    }
    .f-message:focus, .f-name:focus, .f-email:focus {
      outline:none;
      border:1px solid $dark-cornflower-blue;
      box-shadow: 0 0 10px #719ECE;
  
    }
    .f-message {
      grid-column: span 2;
    }
  }
  .send-msg-btn {
    padding: $m-size $xxl-size;
    font-size: $xl-t;
    border-radius: 5px;
    border: none;
    align-self: center;
    margin-top:$m-l-size;
    transition: 0.2s;
    background-color: $navy-blue;
  }
  .send-msg-btn:hover{
    cursor: pointer;
    background: $star-command-blue;

  }
}
.footer {
  padding: $m-size;
  background: $gradient-bg-3;
  .foo-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// @keyframes moveup {

// }